$theme-colors: (
  "primary": #521752,
  "danger": #ff4136
);

$body-bg: (
#162e2e
);

$body-color: (
#c8c4fa
);

$link-color: (
#0ced11
);

//.. Font: Open sans condensed by Steve Matteson //..
$font-family-sans-serif: (
'Open Sans Condensed', sans-serif
);

.menubutton {padding-top: 0px;
padding-bottom: 3px}






//.. Import all bootstrap scss//..
@import "node_modules/bootstrap/scss/bootstrap";

@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap);
